body {
    background-color: bisque;
}

h1 {
    text-align: center;
} 
a {
    color: black;
    font-family: Forte;
    font-size: medium;
}
a:visited {
    color: palevioletred;
}
a:hover {
    color: purple;
}
ul {
    margin-left: auto;
    text-align: center;
}