body {
    background-color: rgb(212, 188, 214);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: darkorchid
}
a:hover {
    color: darkorchid;
}
a:visited {
    color: darkorchid;
}